.fingers-container__header {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.fingers-container__title {
  margin-right: auto;
  color: #000000;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: var(--serif);
  line-height: 1.75rem;
}

.fingers-container__arrows {
  display: flex;

  >button + button {
    margin-left: 24px;
  }
}

.slick-slider .slick-track {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.slick-slider.sliderFingers.slick-initialized {
  width: 100%;

  @media (min-width: 640px) {
    width: 85%;
  }
}
