@import "src/styles/scaffold";

[data-store-breadcrumb] {
  width: 100%;
  font-size: 12px;

  [data-breadcrumb-list] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;

    li {
      display: inline-flex;

      &:first-child a {
        display: flex;
        align-items: center;
      }

      &:not(:first-child) {
        min-width: var(--space-5);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include media("<=tablet") {
          max-width: 30%;
        }
      }
    }

    [data-breadcrumb-item] {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      svg {
        color: var(--color-text);
      }
    }

    [data-breadcrumb-divider] {
      height: var(--space-3);
      margin: 0 var(--space-1) 0 var(--space-1);
      color: #737373;
      font-size: 14px;

      &:last-of-type {
        color: #f08769;
      }

      @media (min-width: 768px) {
        margin: 0 var(--space-2) 0 var(--space-2);
      }
    }

    [data-store-link] {
      justify-content: center;
      padding: 0;
      color: #737373;
      text-decoration: none;
    }

    [data-breadcrumb-item="current"] {
      color: #f08769;
      font-weight: 700;
    }
  }
}
