@font-face {
  font-weight: 400;
  font-family: "Cormorant Garamond";
  font-style: normal;
  src: url("./fonts/cormorant-garamond-latin-400-normal.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-weight: 500;
  font-family: "Cormorant Garamond";
  font-style: normal;
  src: url("./fonts/cormorant-garamond-latin-500-normal.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-weight: 700;
  font-family: "Cormorant Garamond";
  font-style: normal;
  src: url("./fonts/cormorant-garamond-latin-700-normal.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("./fonts/roboto-latin-400-normal.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url("./fonts/roboto-latin-500-normal.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("./fonts/roboto-latin-700-normal.woff2") format("woff2");
  font-display: block;
}
