@import "src/styles/scaffold";

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: auto;
  padding-left: auto;

  @include media(">=tablet") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(">=notebook") {
    --gap: var(--grid-gap-0);

    $pagination-start-index: 2;

    grid-template-columns: repeat(4, 1fr);

    &:nth-of-type(n + #{$pagination-start-index}) {
      margin-top: var(--gap);
    }
  }

  li {
    margin-bottom: 0;
    background-color: var(--color-neutral-0);
    border: 1px solid #d2d2d2;

    @include media("<notebook") {
      border-bottom: 1px solid #d2d2d2;

      &:nth-child(odd) {
        border-right: 1px solid #d2d2d2;
      }
    }

    @include media(">=notebook") {
      margin: 0.5rem;
      border: 0;
    }
  }

  &:nth-child(2) {
    @include media("<notebook") {
      li:nth-child(n + 1):nth-child(-n + 2) {
        border-top: 1px solid #d2d2d2;
      }
    }
  }

  [data-store-card] {
    &[data-card-bordered="true"] {
      border: none;

      @include media(">=notebook") {
        border: 1px solid var(--color-border-display);
      }
    }
  }
}
