[data-custom-icon-button] {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  background: 0;
  border: 0;
  outline: none;
  cursor: pointer;

  @media (min-width: 640px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

[data-custom-icon-button-close="true"] {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 10px;
}

[data-custom-icon-button] svg {
  width: 1.5rem;
  height: 1.5rem;
}

[data-custom-icon-button-close="true"] svg {
  width: 12px;
  height: 12px;
}
