.move-wishlist-modal {
  display: flex;
  flex-direction: column;
  height: 505px;

  &__header {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    font-family: var(--serif);
    line-height: 1.75rem;
    text-align: center;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;

    button + button {
      margin-top: 16px;
    }

    [data-custom-button-variant="dark"] {
      font-size: 14px;
    }
  }

  &__radio-group {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: auto;
  }

  &__options {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-family: var(--sans-serif);

      input {
        margin-right: 10px;
      }

      + label {
        margin-top: 16px;
      }
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    font-size: 0.75rem;
    font-family: var(--sans-serif);
    line-height: 1rem;
  }
}
