.menu-item {
  position: relative;
  width: fit-content;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  font-family: var(--serif);
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #f08769;
  }
}

[data-store-popover] {
  position: fixed !important; /* stylelint-disable-line declaration-no-important */
  // top bar active
  top: 145px !important; /* stylelint-disable-line declaration-no-important */
  left: 0 !important; /* stylelint-disable-line declaration-no-important */
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  max-height: 450px;
  color: #000;
  background: #fff;

  // topbar not active
  &[data-menu-slideup="true"] {
    top: 115px !important; /* stylelint-disable-line declaration-no-important */
  }

  // telemarketingbar active
  &[data-telemarketingbar-active="true"][data-menu-slideup="true"] {
    top: 162px !important; /* stylelint-disable-line declaration-no-important */
  }

  // topbar and telemarketing bar active
  &[data-telemarketingbar-active="true"][data-menu-slideup="false"] {
    top: 185px !important; /* stylelint-disable-line declaration-no-important */
  }

  @media screen and (min-width: 1280px) {
    max-height: 375px;
  }

  .popover-external {
    width: 100%;
    max-height: 375px;
  }

  .popover-container {
    z-index: 5;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1468px;
    height: 100%;
    padding: 20px;
    box-shadow: 0 8px 8px 8px rgb(115 115 115 / 10%);

    @media screen and (min-width: 1600px) {
      margin-left: 66px !important; /* stylelint-disable-line declaration-no-important */
    }

    @media screen and (min-width: 1700px) {
      margin-left: 118px !important; /* stylelint-disable-line declaration-no-important */
    }

    @media screen and (min-width: 1800px) {
      margin-left: 166px !important; /* stylelint-disable-line declaration-no-important */
    }

    @media screen and (min-width: 1900px) {
      margin-left: 216px !important; /* stylelint-disable-line declaration-no-important */
    }

    @media screen and (min-width: 1920px) {
      margin-left: 218px !important; /* stylelint-disable-line declaration-no-important */
    }

    @media screen and (min-width: 2000px) {
      margin-left: 266px !important; /* stylelint-disable-line declaration-no-important */
    }

    @media screen and (min-width: 2560px) {
      margin-left: 546px !important; /* stylelint-disable-line declaration-no-important */
    }
  }

  .link-container,
  .link-container-border {
    display: flex;
    flex-flow: column wrap;
    min-width: fit-content;
    max-height: 470px;
  }

  .link-container {
    padding: 0 360px 0 60px;
    column-gap: 20px;

    @media screen and (min-width: 1440px) {
      padding: 0 40px;
      padding-right: 350px;
      column-gap: 60px;
    }
  }

  .link-container-border {
    padding: 0 70px 0 20px;
    border-right: 1px solid #7d7d7d;
  }

  .link-item {
    padding: 0 6px 5px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 256%;
    text-transform: capitalize;
    text-decoration: none;

    &:visited {
      color: #000;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .table-link-title {
    padding: 0 10px 10px 0;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    text-transform: capitalize;
    cursor: pointer;
  }

  .table-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    padding: 0 0 10px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #000;
    }

    img {
      margin-right: 10px;
    }
  }

  // Life Menu Style 80px

  .life-popover-external {
    width: 100%;
  }

  .life-link-container,
  .life-link-container-border {
    display: flex;
    flex-flow: column wrap;
    min-width: 180px;
    max-height: 470px;
  }

  .life-link-container-border {
    padding: 0 30px 0 20px;
    border-right: 1px solid #7d7d7d;

    @media screen and (min-width: 1440px) {
      padding: 0 50px 0 20px;
    }
  }

  .life-link-container {
    padding: 0 0 0 30px;
    column-gap: 20px;

    @media screen and (min-width: 1280px) {
      padding: 0 0 0 40px;
      column-gap: 60px;
    }

    @media screen and (min-width: 1440px) {
      padding: 0 0 0 80px;
    }
  }

  .life-link-item {
    padding: 0 6px 5px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 256%;
    text-transform: capitalize;
    text-decoration: none;

    &:visited {
      color: #000;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .life-table-link-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 150px;
    padding: 0 0 14px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: #000;
    }

    img {
      width: 31px;
      height: 30px;
      margin-right: 10px;
    }

    svg {
      margin-right: 10px;
    }
  }
}

.menu-item-life {
  position: relative;
  width: fit-content;
  color: #272727;
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    font-weight: 700;
  }
}

[data-label="joias"] .popover-external {
  .link-container {
    padding: 0 15px 0 20px;
  }

  .material {
    max-height: 190px;

    .table-link-item {
      &:nth-of-type(4) {
        margin-top: 34px;
      }
    }
  }
}

[data-label="casamento"] .popover-external {
  .link-container {
    padding: 0 20px;
  }
}

[data-label="relogios"] .popover-external {
  max-height: 245px;

  .link-container {
    padding: 0 50px 0 20px;
  }

  .table-link-item {
    &:nth-of-type(4n + 5) {
      margin-top: 34px;
    }
  }
}

[data-label="acessorios"] .popover-external {
  max-height: 285px;

  .table-link-item {
    &:nth-of-type(8n + 8) {
      margin-top: 34px;
    }
  }
}

[data-label="masculino"] .popover-external {
  max-height: 220px;

  .table-link-item {
    &:nth-of-type(5n + 6) {
      margin-top: 34px;
    }
  }
}

/* Life menu */
[data-label="pulseiras"] .life-popover-external {
  .modelos {
    min-width: 320px;
    max-height: 225px;

    .life-table-link-item {
      &:nth-of-type(3n + 4) {
        margin-top: 30px;
      }
    }
  }

  .material {
    min-width: 320px;
    max-height: 225px;
    margin-left: 40px;

    .life-table-link-item {
      &:nth-of-type(3n + 4) {
        margin-top: 30px;
      }
    }
  }
}

[data-label="pingentes"] .life-popover-external {
  .life-link-container {
    min-width: 115px;
    padding: 0 0 0 10px;
    column-gap: 10px;
  }

  .temas {
    max-height: 250px;
    margin-left: 40px;

    .life-table-link-item {
      &:nth-of-type(4n + 5) {
        margin-top: 30px;
      }
    }
  }
}

[data-label="aneis"] .life-popover-external {
  .material {
    min-width: 320px;
    max-height: 225px;
    margin-left: 40px;

    .life-table-link-item {
      &:nth-of-type(3n + 4) {
        margin-top: 30px;
      }
    }
  }
}

[data-label="brincos"] .life-popover-external {
  .modelos {
    min-width: 320px;
    max-height: 225px;

    .life-table-link-item {
      &:nth-of-type(3n + 4) {
        margin-top: 30px;
      }
    }
  }
}

[data-label="acessorios"] .life-popover-external {
  .modelos {
    min-width: 320px;
    max-height: 225px;

    .life-table-link-item {
      &:nth-of-type(4n + 5) {
        margin-top: 30px;
      }
    }
  }
}

[data-label="colecoes"] .life-popover-external {
  .maisvendidas {
    min-width: 320px;
    max-height: 200px;

    .life-table-link-item {
      &:nth-of-type(4n + 5) {
        margin-top: 30px;
      }
    }
  }
}

.link-container.categorias {
  height: auto;
}

[data-label="acessorios"] .popover-external .table-link-item:nth-of-type(7n + 14) {
  margin-top: 33px;
}
